{% extends 'base.html' %}


{% block title %} - {{post.title}}{% endblock %}

{% block main %}

    <header>
        <div class=container id=main>
            <div class="crt scanlines">
                <pre class=z-code><code><span class="z-text z-plain"> > araste -f naqshe
⠀⠀⠀⢠⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⡠⠀⠀⠠⠠⠀⠀⠠⠢⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀
⢠⠈⢰⠘⠴⠝⠀⢀⠆⠤⠪⠅⠀⠀⢠⠀⣔⡂⠘⠬⠮⠂⠘⠤⠤⠜⠤⠣⠣⠃⠐⢽⠤⠜⠘⠤⠤⠜⠐⢽
⠈⠒⠊⠀⠀⠀⠈⠁⠀⠀⠀⠀⠀⠀⠈⠒⠒⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠀⠀⠀⠀⠁⠀⠈⠁</span></code></pre>
            </div>

    </header>

<div class="container" id="main" dir="rtl">
	{{ post.content | safe }}
</div>
{% endblock %}
